.design_process {
  background-color: #222;

  .design_head {
    text-align: center;
    display: none;
  }

  .inner_design_process {
    width: 80%;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
    column-gap: 30px;

    .left_design_process {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      width: 50%;

      .design_card {
        padding: 30px;
        border: 0.903px solid rgba(13, 195, 9, 0.46);
        border-radius: 20.295px;
        cursor: pointer;

        &:focus {
          box-shadow: 0px 4.14426px 85.27px 5px rgba(13, 195, 9, 0.25);
        }

        &:hover {
          box-shadow: 0px 4.14426px 85.27px 5px rgba(13, 195, 9, 0.25);
        }

        .card_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 30px;

          h3 {
            color: #949494;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 31.604px; /* 131.685% */
          }

          .accordion_icon {
            font-size: 24px;
            color: #949494;
            cursor: pointer;
          }
        }
        .card_content {
          p {
            color: #949494;
            font-family: Poppins;
            font-size: 18.06px;
            font-style: normal;
            font-weight: 400;
            line-height: 27.089px; /* 150% */
          }
        }
      }
      .design_header {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        margin-left: 50px;
        row-gap: 50px;
        h1 {
          color: #fff;
          font-family: Poppins;
          font-size: 67.034px;
          font-style: normal;
          font-weight: 700;
          line-height: 39.233px; /* 58.527% */

          span {
            color: #0dc309;
          }
        }
      }
    }

    // right_design_process
    .right_design_process {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 50%;

      .special_cards {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        position: relative;
        left: 80px;
        cursor: pointer;
        .design_card {
          padding: 30px;
          border: 0.903px solid rgba(13, 195, 9, 0.46);
          border-radius: 20.295px;
          cursor: pointer;

          &:focus {
            box-shadow: 0px 4.14426px 85.27px 5px rgba(13, 195, 9, 0.25);
          }

          &:hover {
            box-shadow: 0px 4.14426px 85.27px 5px rgba(13, 195, 9, 0.25);
          }

          .card_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;

            h3 {
              color: #949494;
              font-family: Poppins;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 31.604px; /* 131.685% */
            }

            .accordion_icon {
              font-size: 24px;
              color: #949494;
              cursor: pointer;
            }
          }
          .card_content {
            p {
              color: #949494;
              font-family: Poppins;
              font-size: 18.06px;
              font-style: normal;
              font-weight: 400;
              line-height: 27.089px; /* 150% */
            }
          }
        }
      }
      .design_card {
        padding: 30px;
        border: 0.903px solid rgba(13, 195, 9, 0.46);
        border-radius: 20.295px;
        cursor: pointer;

        &:focus {
          box-shadow: 0px 4.14426px 85.27px 5px rgba(13, 195, 9, 0.25);
        }

        &:hover {
          box-shadow: 0px 4.14426px 85.27px 5px rgba(13, 195, 9, 0.25);
        }

        .card_header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 30px;

          h3 {
            color: #949494;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 31.604px; /* 131.685% */
          }

          .accordion_icon {
            font-size: 24px;
            color: #949494;
            cursor: pointer;
          }
        }
        .card_content {
          p {
            color: #949494;
            font-family: Poppins;
            font-size: 18.06px;
            font-style: normal;
            font-weight: 400;
            line-height: 27.089px; /* 150% */
          }
        }
      }
    }
  }
}

/* Medium Screens */
@media (max-width: 991px) {
  .design_process {
    .design_head {
      display: block;
      border-radius: 20px;
      border: 0.3px solid #fff;
      background: #313131;
      backdrop-filter: blur(17.5px);
      width: fit-content;
      margin: 0 auto;
      padding: 10px 30px;

      h1 {
        color: #fff;
        font-family: Poppins;
        font-size: 29.841px;
        font-style: normal;
        font-weight: 700;
        line-height: 30.02px; /* 100.598% */
      }
      span {
        color: #0dc309;
      }
    }
    .inner_design_process {
      width: 85%;

      .left_design_process {
        width: 100%;

        .design_card {
          padding: 20px;
          margin-top: -25px;

          .card_header {
            padding: 0;

            img {
              width: 10%;
            }

            h3 {
              font-size: 16px;
            }
            .accordion_icon {
              font-size: 16px;
            }
          }
          .card_content {
            p {
              margin-top: 20px;
              font-size: 14px;
            }
          }
        }
        .design_header {
          display: none;
        }
      }
      .right_design_process {
        width: 100%;

        .design_card {
          padding: 20px;

          .card_header {
            padding: 0;

            img {
              width: 10%;
            }

            h3 {
              font-size: 16px;
            }
            .accordion_icon {
              font-size: 16px;
            }
          }
          .card_content {
            p {
              margin-top: 20px;
              font-size: 14px;
            }
          }
        }

        .special_cards {
          left: 0;

          .design_card {
            padding: 20px;

            .card_header {
              padding: 0;

              img {
                width: 10%;
              }

              h3 {
                font-size: 16px;
              }
              .accordion_icon {
                font-size: 16px;
              }
            }
            .card_content {
              p {
                margin-top: 20px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
.last-design {
  display: none;
}

@media screen and (max-width: 640px) {
  .design_process {
    .design_head {
      display: block;
      border-radius: 20px;
      border: 0.3px solid #fff;
      background: #313131;
      backdrop-filter: blur(17.5px);
      width: fit-content;
      margin: 0 auto;
      padding: 10px 30px;

      h1 {
        color: #fff;
        font-family: Poppins;
        font-size: 29.841px;
        font-style: normal;
        font-weight: 700;
        line-height: 30.02px; /* 100.598% */
      }
      span {
        color: #0dc309;
      }
    }
    .inner_design_process {
      width: 90%;
      padding: 50px 0;
      flex-direction: column;
      row-gap: 20px;
      .left_design_process {
        width: 100%;
        display: flex;
        flex-direction: column;

        .hide_for_mobile {
          display: none;
        }

        .design_card {
          padding: 20px;
          margin-top: -25px;

          .card_header {
            padding: 0;

            img {
              width: 10%;
            }

            h3 {
              font-size: 16px;
            }
            .accordion_icon {
              font-size: 16px;
            }
          }
          .card_content {
            p {
              margin-top: 20px;
              font-size: 14px;
            }
          }
        }
        .design_header {
          display: none;
        }
      }
      .right_design_process {
        width: 100%;

        .design_card {
          padding: 20px;

          .card_header {
            padding: 0;

            img {
              width: 10%;
            }

            h3 {
              font-size: 16px;
            }
            .accordion_icon {
              font-size: 16px;
            }
          }
          .card_content {
            p {
              margin-top: 20px;
              font-size: 14px;
            }
          }
        }

        .special_cards {
          left: 0;

          .design_card {
            padding: 20px;

            .card_header {
              padding: 0;

              img {
                width: 10%;
              }

              h3 {
                font-size: 16px;
              }
              .accordion_icon {
                font-size: 16px;
              }
            }
            .card_content {
              p {
                margin-top: 20px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .last-design {
    display: block;
  }
}

/* Small Screens */
@media (max-width: 480px) {
  .design_process {
    .design_head {
      display: block;
      border-radius: 20px;
      border: 0.3px solid #fff;
      background: #313131;
      backdrop-filter: blur(17.5px);
      width: fit-content;
      margin: 0 auto;
      padding: 10px 30px;

      h1 {
        color: #fff;
        font-family: Poppins;
        font-size: 29.841px;
        font-style: normal;
        font-weight: 700;
        line-height: 30.02px; /* 100.598% */
      }
      span {
        color: #0dc309;
      }
    }
    .inner_design_process {
      width: 90%;
      padding: 50px 0;
      flex-direction: column;
      row-gap: 20px;
      .left_design_process {
        width: 100%;
        display: flex;
        flex-direction: column;

        .hide_for_mobile {
          display: none;
        }

        .design_card {
          padding: 20px;
          margin-top: -25px;

          .card_header {
            padding: 0;

            img {
              width: 10%;
            }

            h3 {
              font-size: 16px;
            }
            .accordion_icon {
              font-size: 16px;
            }
          }
          .card_content {
            p {
              margin-top: 20px;
              font-size: 14px;
            }
          }
        }
        .design_header {
          display: none;
        }
      }
      .right_design_process {
        width: 100%;

        .design_card {
          padding: 20px;

          .card_header {
            padding: 0;

            img {
              width: 10%;
            }

            h3 {
              font-size: 16px;
            }
            .accordion_icon {
              font-size: 16px;
            }
          }
          .card_content {
            p {
              margin-top: 20px;
              font-size: 14px;
            }
          }
        }

        .special_cards {
          left: 0;

          .design_card {
            padding: 20px;

            .card_header {
              padding: 0;

              img {
                width: 10%;
              }

              h3 {
                font-size: 16px;
              }
              .accordion_icon {
                font-size: 16px;
              }
            }
            .card_content {
              p {
                margin-top: 20px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .last-design {
    display: block;
  }
}
